{% extends 'layout.html' %}

{% block content %}
    <div class="container" style="margin-top: 20px">
        <input type="button" value="新建任务" class="btn btn-success add-btn" data-bs-toggle="modal"
               data-bs-target="#addeditModal">
    </div>



    <div class="container" style="margin-top: 20px">
        <table class="table table-hover caption-top ">

            <caption>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
                {{ target_model_label }}列表
            </caption>
            <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                {% for field in form_fields %}
                    <th scope="col">{{ field.1.label }}</th>
                {% endfor %}
                <th scope="col">操作</th>

            </tr>
            </thead>
            <tbody>
            {% for item in data_list %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.get_level_display }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.detail }}</td>
                    <td>{{ item.user }}</td>
                    <td>
                        <input type="button" class="btn btn-success btn-sm edit-btn" value="编辑"
                               target_id="{{ item.id }}">
                        <input type="button" class="btn btn-danger btn-sm delete-btn" value="删除"
                               target_id="{{ item.id }}" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="container">
        <div style="float:left;">
            <ul class="pagination">

                {{ page_str }}


            </ul>
        </div>
        <div style="float: left">
            <form class="d-flex" style="margin-left: 20px" method="GET">
                <input class="form-control me-2" type="search" placeholder="请输入页码" name="page"
                       value="{{ page_param }}" style="width:120px">
                <button class="btn btn-outline-success" type="submit" style="width: 80px">
                    跳转
                </button>
            </form>
        </div>

    </div>



    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0px">
                    <h4 class="alert-heading">是否确认删除</h4>
                    <p>删除后，关联的数据也会删除！</p>
                    <hr>
                    <p class="mb-0" style="text-align: right">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <input type="button" class="btn btn-danger delete-confirm-btn" value="确认删除">
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="addeditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addeditModalLabel">新增任务</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddEdit" novalidate>
                        <div class="clearfix row">
                            {% for field in form %}
                                <div class="col-sm-6" style="position: relative;">
                                    <lable>{{ field.label }}</lable>
                                    <span class='error_msg'
                                          style="color:red; position: absolute;margin-left: 20px;"></span>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button id='btnTaskAddEdit' type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}]


{% block js %}
    <script type="text/javascript">
        var TARGET_ID;

        $(function () {
                bindBtnTaskAddEditConfirmEvent();


                bindBtnTaskAddEvent();
                bindBtnTaskEditEvent();

                bindBtnTaskDeleteEvent();
                bindBtnTaskDeleteConfirmEvent();

                bindSubmit();
            }
        )

        function bindBtnTaskDeleteConfirmEvent() {
            $('.delete-confirm-btn').click(function () {
                $.ajax(
                    {
                        url: "/task/" + TARGET_ID + "/delete/",
                        type: "GET",
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                location.reload()
                            } else {
                                alert(res.error)
                                TARGET_ID = undefined
                            }
                        }

                    }
                )


            })

        }

        function bindBtnTaskDeleteEvent() {
            $('.delete-btn').click(function () {
                TARGET_ID = $(this).attr('target_id');
            })
        }


        function bindBtnTaskAddEditConfirmEvent() {
            $('#btnTaskAddEdit').click(function () {

                    if (TARGET_ID) {
                        doEdit()
                    } else {
                        doAdd()
                    }
                }
            )

        }

        function doEdit() {
            $('.error_msg').empty();

            $.ajax(
                {

                    url: '/task/' + TARGET_ID + '/edit/',
                    type: 'post',
                    data: $('#formAddEdit').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert('success')
                            location.reload()
                        } else {
                            if (res.NotExistError) {
                                alert(res.NotExistError)
                                TARGET_ID = undefined

                            } else {
                                $.each(res.errors, function (name, data) {
                                    $('#addeditModal').find($('#id_' + name)).prev().text(data[0]);
                                })
                            }

                        }

                    }
                }
            )
        }

        function doAdd() {
            $('.error_msg').empty();

            $.ajax(
                {

                    url: '/task/add/',
                    type: 'post',
                    data: $('#formAddEdit').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert('success')
                            location.reload()
                        } else {
                            TARGET_ID = undefined

                            $.each(res.errors, function (name, data) {
                                console.log(name, data);
                                $('#addeditModal').find($('#id_' + name)).prev().text(data[0]);
                                {#$('#id_'+name).prev().text(data[0]);#}
                                {#$('#addeditModal').find('input').val(data[0]);#}
                                {#不知道为什么filter不能用？#}
                                {#尽量还是不要在一个页面里出现多个同id元素了 非法表达产生的后果有点让人费解#}

                            })
                        }

                    }
                }
            )
        }


        function bindBtnTaskAddEvent() {
            $('.add-btn').click(function () {
                TARGET_ID = undefined
                $('#addeditModalLabel').text('新增任务')
                $('#formAddEdit')[0].reset();


            })
        }

        function bindBtnTaskEditEvent() {

            $('.edit-btn').click(function () {
                TARGET_ID = $(this).attr('target_id');
                $('#formAddEdit')[0].reset();


                $.ajax({
                    url: '/task/' + TARGET_ID + '/details/',
                    type: 'GET',
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            console.log(res.data)

                            $.each(res.data, function (name, value) {
                                $('#id_' + name).val(value);
                            })

                            $('#addeditModalLabel').text('编辑任务')

                            $('#addeditModal').modal('show')


                        } else {
                            alert(res.error)
                            TARGET_ID = undefined


                        }
                    }
                })
            })

        }


        function bindSubmit() {
            $('#formAddEdit').submit(function () {
                return false
            })

        }


    </script>
{% endblock %}